 body {
     background-color: lightpink;
  }
@keyframes myAnimation {
         0% {
            background-image: linear-gradient(blue, red);
            top: 100px;
            left: 35px;
         }
         25% {
            background-image: linear-gradient(green, yellow);
            top: 100px;
            left: 35px;
         }
         50% {
            background-image: linear-gradient(blue, yellow);
            top: 100px;
            left: 35px;
         }
         75% {
            background-image: linear-gradient(green, red);
            top: 100px;
            left: 35px;
         }
         100% {
           background-image: linear-gradient(blue, green);
            top: 100px;
            left: 35px;
         }
      }
.One {
   animation-name: myAnimation;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   background-image: linear-gradient(blue, red);
    width: 250px;
    height: 300px;
    border: 5px solid white;
    color: white;
    overflow-y: scroll;
    
    position: absolute;
    top: 100px;
    left: 35px;
}
p {
  text-align: center;
  font-family: Courier New;
}
.two {
  font-size: 30px;
}
li {
  font-family: Courier New;
}
button {
  padding: 8px 25px;
  background: lightblue;
  outline: none;
  border: 2px solid white;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  color: black;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 3px;
}
