body {
  background-color: lightblue;
}
h1 {
  position: absolute;
  top: 200px;
  
  text-align: center;
  color: lightpink;
  font-family: Times New Roman;
}
p {
  color: lightblue;
}
@media screen and (min-width: 500px) {
  h1 {
  position: absolute;
  top: 200px;
  
  text-align: center;
  color: lightblue;
  font-family: Times New Roman;
}
  p {
    position: absolute;
    top: 100px;
    left: 70px;
    
    color: lightpink;
    text-align: center;
    font-size: 30px;
  }
  div {
    width: 100%;
    height: 100vh;
  }
}
